.item{
    font-size: 40px;
    font-weight: normal;
    color: rgb(238, 223, 223);
    
}
.list{
 text-align: start;
}
.totalFeedback{
    color: rgb(238, 223, 223);
    font-size: 50px;
    font-weight: 500;
}